@use '../../../ui/styles/theme.module.scss';

.container {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    background-color: fade-out($color: theme.$eerie, $amount: 0.5);
    backdrop-filter: blur(2px);
    padding: 2.5rem 0.25rem;
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    list-style-type: none;
    margin-top: 4rem;
}

.navButton {
    padding: 0.25rem;
    border-radius: 100%;
    font-size: 1.5rem;
    aspect-ratio: 1;
    text-align: center;

    a {
        display: block;
        line-height: 1;
    }

    &:hover {
        scale: 1.05;
        background-color: rgba(256, 256, 256, 0.1);
    }
}
