@use '../../../../ui/styles/theme.module';

.wrapper {
    border-radius: 0 8px 0 8px;
    background-color: fade-out($color: theme.$eerie, $amount: 0.5);
    padding: 4px 8px;
    color: theme.$secondary;
    font-size: 0.875rem;
    line-height: 1rem;
}
