.container {
    padding: 124px 96px 32px;
}

.pageHeadingContainer {
    max-width: 800px;
    margin-bottom: 32px;
}

.tagsContainer {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
