.container {
    position: relative;
    aspect-ratio: 292 / 440;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: -5;
        background-image: linear-gradient(
            180deg,
            rgba(29, 29, 29, 0) 0%,
            rgba(29, 29, 29, 0.8) 72.27%
        );
    }

    &:hover {
        .action {
            opacity: 1;
        }

        .imageWrapper {
            scale: 105%;
        }

        .movieInformation {
            position: relative;
            translate: 0;
        }
    }
}

.movieInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    translate: 0 40px;
    transition: translate 0.3s ease;

    h3 {
        font-weight: 500;
        font-size: var(--title-size);
        line-height: 32px;
    }
}

.imageWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    transition: scale 0.3s ease;

    img {
        object-fit: cover;
    }
}

.action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
